body {
    font-family: 'Arial';
    background-color: white; 
    color: black; 
}

nav ul {
    list-style: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
    background-color: #e8f5e9; /*light green*/
    overflow: hidden;
}

nav ul li {
    float: left; /* Aligns Items */
}

nav ul li a {
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /*Remove underlines */
}

nav ul li a:hover {
    background-color: #4CAF50; 
    color: white; 
}

#overview {
    padding: 20px;
    margin-bottom: 20px;
}

/* Button styling */
.button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px;
    border: none;
}


#team ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

#team li {
    flex-basis: 22%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    border-radius: 5%; 
}

#team img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}


#team p {
    text-align: center; /* Centers the paragraph text */
}

section {
    background-color: white;
    padding: 20px; 
    margin: 20px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5); /* Shadow */
    border-radius: 10px; 
    background-color: #e8f5e9; 
}

h2 {
    color: green; 

}

.bio {
    display: none;
}

.bio.show {
    display: block;
}

